/*
 * atomicsponge.website
 * By:  Matthew Evans
 * See LICENSE.md
 */

//  Font settings
term_font = Inter, system-ui, Avenir, Helvetica, Arial, sans-serif
term_font_size = medium

//  Background & foreground colors
default_bg_color = rgb(36, 36, 36)
default_fg_color = rgba(255, 255, 255, 0.87)

//  URL colors
url_color = rgb(100, 108, 255)
url_hover_color = rgb(83, 91, 242)
url_visit_color = rgb(100, 108, 255)

//  Input prompt colors
term_pr_color = rgb(255, 204, 0)
term_cr_color = rgb(255, 0, 186)

//  Infobar colors
time_bg_color = rgb(220, 220, 220)
time_fg_color = rgb(0, 0, 0)
user_bg_color = rgb(0, 0, 0)
user_fg_color = rgb(255, 255, 255)
site_bg_color = rgb(135, 206, 250)
site_fg_color = rgb(105, 105, 105)

//  Main formatting
:root
  font-family term_font
  font-size: term_font_size
  font-weight 400
  line-height 1.2

  color: default_fg_color
  background-color default_bg_color

  font-synthesis none
  text-rendering optimizeLegibility
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

//  Body formatting
body
  margin 0
  display flex
  flex-direction column
  place-items start start
  min-width 100vw
  min-height 100vh

//  Hyperlink formatting
a
  font-weight 500
  color url_color
  text-decoration inherit
a:hover
  color url_hover_color
a:visited
  color url_visit_color

//  Image formatting
img
  padding 2px
  border-radius 2%

// Vue app formatting
#app
  margin 0 auto
  padding 4px
  padding-top 8px
  padding-bottom 8px
  width 99vw
  display block

//  Apply terminal color settings
termstyle()
  background-color inherit
  color inherit
  font-family term_font
  font-size term_font_size
  text-align left

//  Prompt element formatting
prompt()
  display inline
  background-color default_bg_color
  color term_pr_color
  font-family term_font
  font-size term_font_size

//  Infobar element formatting
infobar(bg_color, fg_color)
  background-color bg_color
  color fg_color
  font-family term_font
  font-size term_font_size
  padding 6px
  padding-top 4px
  padding-bottom 3px
